.header__container {
    width: 1440px;
    margin: 0 auto;
    background: #FFFFFF;
}

.header__contenido {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: .75rem 0;
    justify-content: space-between;
}

.header__logo {
    width: 122px;
}

#buscador {
    background: url(../img/1-header/lupa-buscador.png);
    /* background: #F5F5F5;  */
    background-repeat: no-repeat;
    background-position: right  ;
    border-radius: 1rem;
    padding: .5rem 1rem;
}

#img-search {
    display: none;
}


/* Mobile up to 480px */
@media screen and (min-width: 0px) and (max-width: 480px) {
    .header__container {
        width: 100%;
    }
    
    #buscador {
        display: none;
    }

    #img-search {
        display: flex;
    }

    .header__buscador {
        order: 2;
    }

    .header__login-button {
        order: 1;
    }
}

/* Tablet to laptop max 1024px */ 
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .header__container {
        width: 100%;
    }
}

/* Desktop */ 
/* @media screen and (min-width: 1025px) {
    .header__container {
        width: 100%;
    }
} */


