.banner__container {
    /* Posicion relativa para poder posicionar el texto dentro de la imagen */
    background: #E5E5E5;
    position: relative; 
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.banner__imagen {
    width: 100%;
    height: auto;
}

.banner__text {
    /* Posicion absoluta para insertar el texto en la imagen */
    position: absolute;
    bottom: 2rem;
    left: 9.5rem;
}

.banner__title, .banner__description {
    color: rgba(255, 255, 255, 1);
    line-height: 3.813rem;
    font-weight: 700;
}

.banner__title {
    font-size: 3.25rem;
}

.banner__description {
    font-size: 1.375rem;
}


/* Mobile up to 480px */
@media screen and (min-width: 0px) and (max-width: 480px) {
    .banner__container {
        width: 100%;
        height: 192px;
    }

    .banner__imagen {
        width: 100%;
        height: 192px;
    }

    .banner__text {
        width: 90%;
    }

    .banner__title, .banner__description {
        line-height: 20px;
    }

    .banner__title {
        font-size: 22px;
    }
    
    .banner__description {
        font-size: 14px;
    }

    .banner__text {
        bottom: 1rem;
        left: 1rem;
    }
}

