.productos__container {
    background: #E5E5E5;
    width: 1440px;
    margin: 0 auto;
   padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.title__link-container {
    /* width: 1136px; */
    width: 90%;
    /* padding: 0 5% 0 5%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.item__container {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    /* width: 1136px; */
    /* background: rgb(103, 214, 186); */
    
    /* padding: 0 20%; */
    display: flex;
    /* box-sizing: border-box; */
    /* justify-content: space-around; */
    /* justify-content: center;
    align-content: center; */
    
    /* align-items: center; */
}

.item__unit {
    margin: 1rem 0rem 2rem 0rem;
    /* padding: 0 .875rem; */
}

.item__link, .title__link {
    text-decoration: none;
    color: rgba(42, 122, 228, 1);
    font-weight: 700;
    font-size: 1rem;
}
