.productos__container {
    background: #E5E5E5;
    width: 1440px;
    margin: 0 auto;
   padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.title__link-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.item__container {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;    
    display: flex;
}

.item__unit {
    margin: 1rem 0rem 2rem 0rem;
    line-height: 1rem;
}

.item__description, .item__price {
    color: rgba(70, 70, 70, 1);
}

.item__price {
    font-weight: 700;
}

.item__link, .title__link {
    text-decoration: none;
    color: rgba(42, 122, 228, 1);
    font-weight: 700;
    font-size: 1rem;
}


/* Mobile 320px */
@media screen and (max-width: 320px) {
    .productos__container {
        width: 100%;
    }
    
    .title__link-container {
        box-sizing: border-box;
        width: 100%;        
        justify-content: space-between;
        align-content: center;
        padding: 0 1.5rem;
    }

    .item__container {
        box-sizing: border-box;
        width: 100%;
        padding: 0 1.5rem;
        flex-direction: flex;
        flex-wrap: wrap;
        justify-content: space-between;        
    }

    .item__unit {
        width: auto;
        box-sizing: border-box;
    }

    .item__img {
        width: 130px;
    }

    .item__unit:nth-last-child(2), .item__unit:last-child {
        display: none;
    }
}

/* Mobile 480px */
@media screen and (min-width: 321px) and (max-width: 480px) {

    .productos__container {
        width: 100%;
    }
    
    .title__link-container {
        box-sizing: border-box;
        width: 100%;
        justify-content: space-between;
        align-content: center;
        padding: 0 1.5rem;
    }

    .item__container {
        box-sizing: border-box;
        width: 100%;
        padding: 0 1.5rem;
        flex-direction: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item__unit {
        width: auto;
        box-sizing: border-box;
    }

    .item__img {
        width: 148px;
    }

    .item__unit:nth-last-child(2), .item__unit:last-child {
        display: none;
    }
}


/* Tablet 768px y laptop 1024px*/
@media screen and (min-width: 481px) and (max-width: 1024px) {

    .productos__container {
        width: 100%;
    }
    
    .title__link-container {
        box-sizing: border-box;
        width: 100%;
        justify-content: space-between;
        align-content: center;
        padding: 0 1.5rem;
    }

    .item__container {
        box-sizing: border-box;
        width: 100%;
        padding: 0 1.5rem;
        flex-direction: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item__unit {
        width: auto;
        box-sizing: border-box;
    }

    .item__img {
        width: 164px;
    }

    .item__unit:nth-last-child(2), .item__unit:last-child {
        display: none;
    }
}