.contacto {
    font-family: "Raleway", sans-serif;
}

.contacto__container {
    background: #EAF2FD;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.contacto__izquierda {
    width: 45%;
    /* margin: 0 auto; */
    display: flex;
    /* align-items: center; */
    align-content: flex-start;
    padding: 4rem 0;
}

.contacto__izquierda-contenido {
    justify-content: space-between;
}

.contacto__imagen {
    height: 60px;
}

.contacto__link {
    text-decoration: none;
}

.contacto__link-texto {
    color: rgba(70, 70, 70, 1);
    font-size: 1rem;
    font-weight: 500;
}

.contacto__link-texto, .contacto__imagen {
    margin: 1rem 0;
}

.contacto__derecha {
    width: 45%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

/* 
.contacto__derecha-contenido {
    padding: 5rem 0;    
} */

.contacto__subtitulo {
    color: #464646;
    font-size: 1rem;
    font-weight: 700;
}

.contacto__item {
    margin: 1rem 0;
}

.contacto__input-message, .contacto__input-text {
    background: #EAF2FD;
}

.contacto__input-message {
    /* revisar */
    width: 99%; 
    resize: none;
}

/* Mobile 320px to 480px */
 @media screen and (min-width: 0px) and (max-width: 767px) {
    .contacto__container {
        width: 100%;
        flex-direction: column;
    }

    .contacto__izquierda, .contacto__derecha {
        width: 100%;
        padding: .75rem 0;
        justify-content: center;
        /* align-content: center; */
    }

    .contacto__derecha-contenido {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}

/* Tablet to laptop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contacto__container {
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
    }

    .contacto__izquierda, .contacto__derecha {
        /* width: 90%; */
        margin: 0 auto;
        padding: .75rem 0;
        justify-content: center;
        /* align-content: center; */
    }

    .contacto__izquierda {
        width: 30%;
    }

    .contacto__derecha {
        width: 60%;
    }

    .contacto__izquierda-contenido {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .contacto__derecha-contenido {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}


/* Tablet */
/*
@media screen and (min-width: 481px) and (max-width: 768px) {    
    
    .contacto__izquierda {
        width: 40%;
        text-align: left;
    }

    .contacto__derecha {
        width: 60%;
    }
} */

/* @media screen and (min-width: 769px) {

    .contacto__imagen {
        
        width: 176px;
        height: 51px;
        
    }

    .contacto__izquierda {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
    }

    .contacto__link-contenedor {
        text-align: left;
    }
    
    .contacto__derecha {
        width: 50%;
    }
    
} */