.footer__container {
    background: #FFFFFF;
    margin: 0 auto;
    width: 1440px;
}

.footer__contenido {
    height: 102px;
    display: flex;
    box-sizing: border-box;
    margin: 0 0 0 0; 
    padding: 2rem 0;
}

.footer__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__text {
    font-weight: 500;
}


/* Responsive */
@media screen and (min-width: 0px) and (max-width: 1440px) {
    .footer__container {
        width: 100%;
    }
}